html, body {
    background-color: #9077ff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 防止水平滚动 */
    font-family: Arial, sans-serif;
    cursor: url('logos/pixelDragonCursor32x32.png')16 16, auto;
}

/*button, button:hover {
    cursor: url('logos/pixelDragonCursorSmile32x32.png')16 16, auto;
}*/

img {
    cursor: url('logos/pixelDragonCursorSmile32x32.png')16 16, auto;
}

.center-image {
    display: block; /* 将图片作为块级元素处理 */
    margin-left: auto; /* 左边距自动调整 */
    margin-right: auto; /* 右边距自动调整 */
    width: 100%; /* 图片宽度调整为容器的100% */
    height: auto; /* 高度自动调整以保持宽高比 */
}

.shelf-container {
    margin-left: 25%;
    margin-top: 0; /* 移除上边距 */
}

.shelf-container img {
    width: 100%;
    height: auto;
    display: block; /* 避免图片间有间隙 */
}

.sidebar {
    position: fixed; /* 固定位置，随滚动条移动 */
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    background-image: url('pics/sideBar960x2160.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; /* 确保侧边栏在内容之上 */
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* No border */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}
  
#topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

h1 {
    color: #333;
}

p {
    color: #666;
}