html, body {
    width: 100%;
    height: 100%; /* 确保占满至少整个视口的高度 */
    margin: 0;
    padding: 0;
    cursor: url('dragonCursorCalm32x32.png'), auto; /* 默认光标 */
}

/* 为简化问题，我们不用 !important 标记，但是确保没有其他CSS规则覆盖它 */
.click-cursor, .click-cursor * {
    cursor: url('dragonCursorSmile32x32.png'), auto; /* 鼠标按下时的光标 */
    background-color: #7fff81;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

p {
    color: #666;
}
